.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

.nx

.idea
/docs
lib

tsconfig.tsbuildinfo

storybook-static
/packages/docs/apidocs
/packages/docs/.cache
/packages/docs/public
/packages/docs/docs/md-test
/packages/docs/docs/0-root/examples.mdx
/examples/*/dist
/packages/*/readme.md
/packages/readme.md
