/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

[data-theme='dark'] .heroBanner {
  background-color: #111112;
}
[data-theme='light'] .heroBanner {
  background-color: #ede8f6;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroBannerInner {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 40px;
}

.heroLeft {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroRight {
  min-height: 450px;
}

.heroDemo {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  width: 280px;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.socialBtn {
  height: 47px;
  width: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-theme='light'] .socialBtn {
  background-color: white;
}

.demoBox {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.heroTitle {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.1;
  letter-spacing: -2px;
  color: var(--ifm-color-primary);
  /*
  text-transform: uppercase;
  letter-spacing: -4px;
   */
}
.heroSubtitle {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.1;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.heroText {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--text-muted);
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 4.5rem;
  }
  .heroSubtitle {
    font-size: 2rem;
  }
  .heroBanner {
    padding: 2rem;
  }
  .heroBannerInner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .heroDemo {
    height: 400px;
  }
  .socialBtn {
    width: 50px;
  }
}