.tree {
    max-width: 300px;
}

.treeitem-parent {
    margin-bottom: 2px;
    display: flex;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.treeitem:hover {
    border-color: black;
}

.treeitem:focus {
    outline: none;
}

.treeitem[data-selected=true] {
    background-color: #eee;
}

.treeitem[data-focused=true] {
    border-color: black;
}

.treeitem[data-drop=true] {
    border-color: red;
}

.treeitem[data-dropabove=true] {
    border-top: 1px solid red;
}

.treeitem[data-dropbelow=true] {
    border-bottom: 1px solid red;
}

.treeitem[data-searchmatch=true] {
    background-color: #ffffcd;
}

.treeitem:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIgY2xhc3M9InJjdC10cmVlLWl0ZW0tYXJyb3ctcGF0aCI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
    width: 10px;
    display: inline-block;
    z-index: 1;
    margin-right: 4px;
    transition: transform 0.1s ease-in-out;
}

.treeitem[data-expanded=true]:before {
    transform: rotate(90deg);
}
