.tree {
    max-width: 300px;
}

.tree button[role="treeitem"] {
    margin-bottom: 2px;
    display: flex;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.renaming-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px 6px;
    margin-bottom: 2px;
}
.renaming-item input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.treeitem:hover {
    border-color: black;
}

.treeitem:focus {
    outline: none;
}

.treeitem.selected {
    background-color: #eee;
}

.treeitem.focused {
    border-color: black;
}

.treeitem.drop {
    border-color: red;
}

.treeitem.dropabove {
    border-top: 1px solid red;
}

.treeitem.dropbelow {
    border-bottom: 1px solid red;
}

.treeitem.searchmatch {
    background-color: #ffffcd;
}

.treeitem.folder:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIgY2xhc3M9InJjdC10cmVlLWl0ZW0tYXJyb3ctcGF0aCI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
    width: 10px;
    display: inline-block;
    z-index: 1;
    margin-right: 4px;
    transition: transform 0.1s ease-in-out;
}

.treeitem.folder.expanded:before {
    transform: rotate(90deg);
}

.description {
    font-family: sans-serif;
    font-size: .8rem;
    background-color: #eee;
    border-radius: 8px;
    padding: 8px 12px;
}


.dragline {
    position: absolute;
    height: 3px;
    width: unset;
    margin-top: -1px;
    background-color: #00aff4;
}

.dragline::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 8px;
    width: 8px;
    background-color: #00aff4;
    border-radius: 99px;
}