.tree {
    max-width: 300px;
}

.treeitem-parent {
    margin-bottom: 2px;
    display: flex;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.treeitem:hover {
    border-color: black;
}

.treeitem:focus {
    outline: none;
}

.treeitem[data-selected=true] {
    background-color: #eee;
}

.treeitem[data-focused=true] {
    border-color: black;
}

.treeitem[data-drop=true] {
    border-color: red;
}

.treeitem[data-dropabove=true] {
    border-top: 1px solid red;
}

.treeitem[data-dropbelow=true] {
    border-bottom: 1px solid red;
}

.treeitem[data-searchmatch=true] {
    background-color: #ffffcd;
}
