.tree {
    max-width: 300px;
}

.treeitem-parent {
    margin-bottom: 2px;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid #aaa;
    padding: 4px 6px;
}

.treeitem[data-selected=true] {
    background-color: #eee;
}

.treeitem[data-focused=true] {
    border-color: black;
}

