:root {
    --selected-color: #f0f2f5;
}
body {
    font-family: sans-serif;
}

.tree {
    max-width: 300px;
}

.tree button[role="treeitem"] {
    display: flex;
    background: transparent;
    border: none;
    width: 100%;
    padding: 0 0 2px 0;
}

.treeitem {
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 6px 10px;
    position: relative;
    border-radius: 8px;
    transition: background-color .2s ease;
    cursor: pointer;
}
.treeitem:hover {
    background-color: var(--selected-color);
}

.renaming-item {
    background-color: var(--selected-color);
    margin-bottom: 2px;
    border-radius: 8px;
    padding: 4px 10px 5px 24px;
}
.renaming-item input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.treeitem:hover {
    border-color: black;
}

.tree button[role="treeitem"]:focus {
    outline: none;
}

.treeitem.selected {
    background-color: #eee;
}

button:focus-visible .treeitem.focused, .treeitem.searchmatch.focused {
    outline: 2px solid black;
}

.treeitem.drop {
    border-color: var(--selected-color);
    background-color: #e1f1f8;
}

.treeitem.searchmatch {
    background-color: #e1f8ff;
}

.treeitem.folder:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIgY2xhc3M9InJjdC10cmVlLWl0ZW0tYXJyb3ctcGF0aCI+PC9wYXRoPjwvZz48L2c+PC9zdmc+);
    width: 10px;
    display: inline-block;
    z-index: 1;
    margin-right: 4px;
    transition: transform 0.1s ease-in-out;
}

.treeitem.folder.expanded:before {
    transform: rotate(90deg);
}

.treeitem:not(.folder) {
    padding-left: 24px;
}

.treeitem.selected:after {
    content: " ";
    position: absolute;
    top: 5px;
    left: -2px;
    height: 16px;
    width: 4px;
    background-color: #0366d6;
    border-radius: 99px;
}

.description {
    font-family: sans-serif;
    font-size: .8rem;
    background-color: #eee;
    border-radius: 8px;
    padding: 8px 12px;
}

.dragline {
    height: 2px;
    margin-top: -1px;
    background-color: #0366d6;
}

.dragline::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    height: 4px;
    width: 4px;
    background: #fff;
    border: 2px solid #0366d6;
    border-radius: 99px;
}

.outeritem {
    display: flex;
    align-items: center;
    gap: 2px;
}
.outeritem button:not([role="treeitem"]) {
    padding: 2px 4px;
    height: 80%;
}

.actionbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 8px;
}

.foreign-dragsource, .foreign-dropzone, .searchbox, .actionbtn {
    height: 30px;
    background-color: transparent;
    border: 1px solid #808080;
    padding: 0 8px;
    border-radius: 4px;
    font-size: .8rem;
    color: #393939;
    display: flex;
    align-items: center;
    justify-items: center;
}

.foreign-dragsource {
    cursor: grab;
}
.foreign-dragsource:active {
    cursor: grabbing;
}
.foreign-dragsource:before {
    content: url(data:image/svg+xml;base64,PHN2ZyBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGhlaWdodD0iMThweCIgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkgMTNhMSAxIDAgMSAxIDAtMiAxIDEgMCAwIDEgMCAyWm03LTFhMSAxIDAgMSAxLTIgMCAxIDEgMCAwIDEgMiAwWk05IDhhMSAxIDAgMSAxIDAtMiAxIDEgMCAwIDEgMCAyWm03LTFhMSAxIDAgMSAxLTIgMCAxIDEgMCAwIDEgMiAwWk05IDE4YTEgMSAwIDEgMSAwLTIgMSAxIDAgMCAxIDAgMlptNiAwYTEgMSAwIDEgMSAwLTIgMSAxIDAgMCAxIDAgMloiPjwvcGF0aD48L3N2Zz4=);
    width: 10px;
    display: inline-block;
    z-index: 1;
    margin-right: 8px;
    margin-top: 2px;
}
.foreign-dragsource:hover {
    background-color: #f6f6f6;
}

.foreign-dropzone {
    border: 1px dashed #808080;
    padding: 0 26px;
}

.searchbox {
    padding: 8px 16px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    gap: 4px;
    height: unset;
}

.searchbox:before {
    content: "Navigate between search results with ArrowUp and ArrowDown. Press Escape to close search.";
    display: block;
    width: 100%;
}
.searchbox input {
    flex-grow: 1;
    padding: 4px;
}

.actionbtn:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.visible-assistive-text {
    position: unset !important;
    width: unset !important;
    height: 60px !important;
    margin: unset !important;
    overflow: auto !important;
    clip: unset !important;

    display: block;
    margin-bottom: 1rem !important;
    background-color: #e1f1f8;
}